body {
    background-color: #FFFBCB;
}

#padding {
    padding-top: 15px;
}

#aboutme {
    background-color: #82FFE9;
}

#footer {
    background-color: #82FFE9;
}

footer {
    padding-top: 100px;
}

.list {
    border: solid 5px #B064FF;
}

main {
    padding-top: 15px;
}
